################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PersonalSite.Client/bin/Debug/netstandard2.0
/PersonalSite.Client/obj
/PersonalSite.Client/PersonalSite.Client.csproj.user
/PersonalSite.Server/bin/Debug/netcoreapp2.1
/PersonalSite.Server/obj
/PersonalSite.Shared/bin/Debug
/PersonalSite.Shared/obj
/PersonalSite.Test/obj
/PersonalSite.Server/PersonalSite.Server.csproj.user
