@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Posts */

.grow {
    transition: all .2s ease-in-out;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.grow:hover {
    transform: scale(1.2);
    transition-duration: 0.1s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


h1 {
    text-align: center;
    font-size: 3em;
}

footer {
    color: black;
    font-family: 'muli', sans-serif;
    position: fixed;
    padding: 1em;
    bottom: 0;
    right: 0;
}

#MainContent {
    margin-top: 5em;
}

/**************
    NAVIGATION
***************/
#navigation {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: white;
    z-index: 9999;
    width: 100%;
}

.navigation-link {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    margin: 1em 3em;
}

.underline {
    border-top: 3px solid rgb(175, 175, 175);
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
}

/**************
    CONTACT PAGE
***************/
.inquiry-container{
    width: 50%;
    padding: 1em;
    margin: 0 auto;
}

.inquiry-form {
}