@using PersonalSite.Shared.Messages;
@using Microsoft.JSInterop;
@inherits BlazorLayoutComponent
@inject HttpClient Http

@page "/Contact"

<div>
    <div class="new-post mb-5 w-50 justify-content-center align-items-center flex-column">
        <div class="form-group">
            <label class="form-label">Title</label>
            <input class="form-control" value="@message.Subject" required/>
        </div>
        <div class="form-group">
            <label class="form-label">Content</label>
            <textarea class="form-control" value="@message.Body" required/>
        </div>
        <button type="button" onclick="SubmitMessage();">Submit</button>
    </div>
</div>

@functions{
    Message message = new Message();


}