@page "/Details"
<style>
    
/**************
  DETAILS PAGE
***************/


#Details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 1em .75em;
    font-family: 'muli', sans-serif;
    font-size: 2em;
}

.directions-container {
    padding: 1em;
}

.place {
    text-align: center;
    margin-top: 3em;
    padding: 1em 3em;
}

.important {
    font-weight: bold;
}

.directions-link {
    font-size: 1.5em;
    margin: 1em 0;
    color: white;
}

    .directions-link:hover {
        color: white;
    }

    .directions-link img {
        height: 25px;
        width: auto;
    }

#DirectionsContainer {
    margin-top: 10em;
}

@@media only screen and (max-width: 600px) {
    .place {
        padding: 0;
    }
}

</style>
<div id="WeddingDetailsContainer" class="center">
    <div id="Details" class="navy-background">
        <div id="TurtlesContainer" class="place">
            <h2>Reception</h2>
            <div class="underline"></div>
            <div class="place-description center column">
                <div class="description">The reception will be at <span class="important">Turtle's 1890 Social Centre</span> in Shakopee starting with a cocktail hour at <span class="important">5:30 pm</span></div>
                <div class="description">An assortment of appetizers will be served from <span class="important">6:30pm-8:30pm</span></div>
                <div class="description">Drinks and Dancing <span class="important">until 1 am</span></div>
            </div>
            <a href="#DirectionsContainer">
                <div class="directions-link">
                    Directions
                    <img src="https://s3.us-east-2.amazonaws.com/nickandmandygalvin.com/Images/right-arrow.png" />
                </div>
            </a>
            <div class="picture-container">
                <img src="https://s3.us-east-2.amazonaws.com/nickandmandygalvin.com/Images/Turtles.jpg" alt="Turtles 1890 Social Centre" />
            </div>
        </div>

        <div id="HotelContainer" class="place">
            <h2>Hotel</h2>
            <div class="underline"></div>
            <div class="place-description">
                <div class="description">We have rooms reserved at the Best Western hotel in Shakopee with transportation to and from the venue provided.</div>
                <div class="description">Please reference the Galvin/Anderson wedding when making your reservation</div>
                <div class="description">Call <a href="tel:952-445-9779">952-445-9779</a> to book.</div>
            </div>
            <a href="#DirectionsContainer">
                <div class="directions-link">
                    Directions
                    <img src="https://s3.us-east-2.amazonaws.com/nickandmandygalvin.com/Images/right-arrow.png" />
                </div>
            </a>
            <div class="picture-container">
                <img src="http://www.exploreminnesota.com/memberimage.ashx?id=13663&amp;width=960&amp;mar=1" alt="Turtles 1890 Social Centre" />
            </div>
        </div>
        <div id="DirectionsContainer">
            <h2>Directions</h2>

            <div id="Directions" class="center">
                <div class="directions-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5662.283083012646!2d-93.525528!3d44.798304!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f84a2fb1e546518!2sTurtle%E2%80%99s+1890+Social+Centre!5e0!3m2!1sen!2sus!4v1530843308316" width="400" height="300" frameborder="0" style="border: 0" allowfullscreen></iframe>
                </div>
                <div class="directions-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11325.209305536348!2d-93.507322!3d44.795027!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b113ec85694ddb8!2sBest+Western+Shakopee+Inn!5e0!3m2!1sen!2sus!4v1530842772372" width="400" height="300" frameborder="0" style="border: 0" allowfullscreen></iframe>
                </div>

            </div>
        </div>


    </div>

</div>