@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div id="HomeContainer" class="">
    <div id="ImageContainer">
        <div id="image-text-container-1">
            <div id="Hashtag">#GoingGalvin</div>
            <div id="CountdownContainer">
                <div id="LoadingSpinner" class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>

                <div id="DateTimeContainer">
                    <div id="DaysContainer">
                        <div id="Days" class="time"></div>
                        <div class="time-text">Days</div>
                    </div>

                    <div id="HoursContainer" class="time">
                        <div id="Hours"></div>
                        <div class="time-text">Hours</div>
                    </div>


                    <div class="separator">:</div>

                    <div id="MinutesContainer" class="time">
                        <div id="Minutes"></div>
                        <div class="time-text">Minutes</div>
                    </div>

                    <div class="separator">:</div>

                    <div id="SecondsContainer" class="time">
                        <div id="Seconds"></div>
                        <div class="time-text">Seconds</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="image-text-container">
            <div class="getting-married">We're Getting Married!</div>
            <div class="wedding-date">Friday, October 19th 2018</div>
            <a class="center column" href="http://nickandmandygalvin.rsvpify.com" target="_blank" rel="noopener noreferrer">
                <button id="RSVPButton" class="grow button btn">RSVP</button>
            </a>
        </div>
    </div>
</div>