@page "/Registry"

<div id="RegistryContainer" class="center contianer-fluid class="navy-background"">
    <h1>Registry</h1>
    <div class="underline"></div>
    <div class="registry-description center">Your presence at our Wedding is the greatest gift of all. However, if you would like to bring a gift, we have registered with Amazon and Target.</div>
    <div id="RegistryLinksContainer">
        <div id="AmazonRegistryContainer" class="registryLinkContainer">
            <div class="">\
                <a href="https://www.amazon.com/wedding/share/Nick-And-Mandy-Galvin" target="_blank" rel="noopener noreferrer">
                    <img id="AmazonRegistryImage" src="https://s3.us-east-2.amazonaws.com/nickandmandygalvin.com/Images/AmazonLogo.png" />
                </a>
            </div>
        </div>
        <div id="TargetRegistryContainer" class="registryLinkContainer">
            <div class="">
                <a href="http://www.target.com/gift-registry/gift/5fff30ee42c94f59b02f695240a6ec66" target="_blank" rel="noopener noreferrer">
                    <img id="TargetRegistryImage" src="https://s3.us-east-2.amazonaws.com/nickandmandygalvin.com/Images/TargetLogo.png" />
                </a>
            </div>
        </div>
    </div>
</div>