@using PersonalSite.Shared
@using Microsoft.JSInterop;
@page "/RSVP/List"
@inject HttpClient Http

<link href="https://fonts.googleapis.com/css?family=Muli|Titillium+Web" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Great+Vibes|Lobster" rel="stylesheet">
<style>

    .rsvp-party {
        margin: .5em 0;
        border: 1px solid black;
    }

    .names, .status {
        margin: .25em 0;
    }

    .center{
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .column{
        flex-direction: column;
    }

    .list-container>div>div{
        margin: .25em 1em;
        text-align: center;
    }

    .date{
        width: 10%;
    }

    .name{
        width: 30%;
    }

    .status{
        width: 20%;
    }

    .comment{
        width: 30%;
    }



</style>
@if (rsvps == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>RSVPs for Nick and Mandy's Wedding Reception</h1>

    <div class="container-fluid list-container container">
        <div class="header center">
            <div class="date">RSVP Date</div>
            <div class="name">Name</div>
            <div class="status">Accept/Decline</div>
            <div class="comment">Comment</div>
        </div>
        @foreach (var rsvp in rsvps)
        {
            <div class="center rsvp-party">
                <div class="date">@rsvp.RsvpDate.ToShortDateString()</div>
                <div class="name">
                    @foreach (var person in rsvp.Attendees)
                    {
                        <div class="center column">@person.Name</div>
                    }
                </div>
                <div class="status">
                    @foreach (var person in rsvp.Attendees)
                    {
                        <div class="center colum">@person.Status</div>
                    }
                </div>
                <div class="comment">@rsvp.Comments</div>
            </div>

        }
    </div>
}

@functions {

    List<WeddingRSVP> rsvps;

    protected override async Task OnInitAsync()
    {
        rsvps = await Http.GetJsonAsync<List<WeddingRSVP>>("/api/RSVP/List");
    }
}


