<style>

    .nav{
        text-transform:uppercase;
    }

</style>
<div class="upload-container">
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file">
    </div>
</div>

@functions {

    void UploadFiles()
    {
    }
}
