@inherits BlazorLayoutComponent

<div id="navigation" class="container-fluid">
    <!-- <NavMenu />-->
</div>

 <div id="MainContent" class="body-content container-fluid">
    @Body
</div>

 <footer>
     <p>
         <a class="" href="RSVP/List">&copy; 2018 - Nick Galvin</a>
     </p>
 </footer>