@inherits BlazorLayoutComponent

<NavMenu />

 <div id="MainContent" class="body-content container-fluid">
    @Body
</div>

 <footer>
     <p>
         &copy; @DateTime.Now.Year - Nick Galvin
     </p>
 </footer>