<style>


</style>
<div id="navigation" class="d-flex justify-content-center align-items-center">
    <div class="navigation-link grow">
        <a class="" href="/Blog">Blog</a>
    </div>
    <div class="navigation-link grow">
        <a class="" href="/About">About</a>
    </div>
    <div class="navigation-link grow">
        <a class="" href="/ContactMe">Contact</a>
    </div>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
