<style>

    .nav{
        text-transform:uppercase;
    }

</style>
<div id="LinksContainer" class="row">
        <div id="HomeLinkContainer" class="linkContainer grow" >
            <a href="">
                H<img src="https://s3.us-east-2.amazonaws.com/nickandmandygalvin.com/Images/Minneseota.jpg" alt="Home Link">ME
            </a>
        </div>
        <div id="DetailsLinkContainer" class="linkContainer grow">
            <a class="" href="Details">Details</a>
        </div>
        <div id="RSVPContainer" class="linkContainer grow">
            <a class="" href="RSVP">RSVP</a>
        </div>
        <div id="RegistryLinkContainer" class="linkContainer grow">
            <a class="" href="Registry">Registry</a>
        </div>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
