<style>

    .linkContainer {
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
    }
</style>
<div id="Navigation" class="row">
    <div class="linkContainer grow">
        <a href="/ContactMe">Contact</a>
    </div>
    <div class="linkContainer grow">
        <a class="" href="/Blog">Blog</a>
    </div>
    <div class="linkContainer grow">
        <a class="" href="/Login">Login</a>
    </div>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
