<style>

    .linkContainer {
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
    }
</style>
<div id="LinksContainer" class="nav row">
    <div class="linkContainer grow">
        <a class="" href="Contact">Contact</a>
    </div>
    <div class="linkContainer grow">
        <a class="" href="Blog">Blog</a>
    </div>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
