@using PersonalSite.Shared.Blog;

<div class="post card">
    <div class="post-header card-header">
    </div>
    <div class="post-body card-body">
        <h3 class="card-title"></h3>
        <p class="card-text"></p>
    </div>
    <div class="post-footer">
        <button>Post</button>
    </div>
</div>

@functions {
}
